<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Surf Spots</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p *ngIf="error" style="text-align: center">{{error.message}}</p>
  
  <ion-list>
    <button ion-item *ngFor="let spot of spots" (click)="itemTapped($event, spot)">
      {{spot.name}}
      <div class="item-note" item-right>
        {{spot.description}}
      </div>
    </button>
  </ion-list>
</ion-content>
