// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------

// list styles
.list-header{
    padding-bottom: 10px;
    border-bottom: 1px solid #dedede;
    font-size: 1.4rem;
    color: #858585;
    background-color: #fff;
    margin-bottom: 3px;
}

.item-name{
    text-overflow: ellipsis;
    overflow: hidden;    
}

.item-wave, .item-region{
    font-size: 1.4rem;
    color: #666;
    padding-left: 0.4rem;
}