page-detail {
    
    ion-col div{
        border: 1px solid #e6e9ee;
        border-radius: 2px;
        padding: 5px;
        font-size: 0.7em;
        text-align: center;
    }

    ion-col .property {
        background-color: #f0f5ff;
        text-align: center;
        font-weight: bold;
    }

    ion-grid{
        padding-bottom: 30px;
    }

    .tides{
        margin-bottom: 20px;
    }
    
    .regional-slide{

        .card-subtitle{
            font-size: 1.1em;
        }
    }
}
