<ion-header>

  <ion-navbar>
     <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Nearby</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p *ngIf="error" style="text-align: center">{{error.message}}</p>
  
  <ion-list>

    <ion-item ion-item *ngFor="let spot of spots">
        <ion-thumbnail item-start>
          <img src="{{spot.image}}">
        </ion-thumbnail>
        <h2 class="name">
          {{spot.name}}
        </h2>
        <h3 class="description">
          {{spot.description}}
        </h3>
        <p>
          <ion-grid>
            <ion-row align-items-start>
              <ion-col col-md-1 col-sm-2 col-xs-4>
                <ion-icon name="pin"></ion-icon> 1 km
              </ion-col>
              <ion-col col-md-1 col-sm-2 col-xs-4>
                <ion-icon name="pulse" item></ion-icon> 4 ft
              </ion-col>
            </ion-row>
          </ion-grid>
        </p>
        <button ion-button clear item-end (click)="itemTapped($event, spot)">View</button>
      </ion-item>

  </ion-list>
</ion-content>
